*{
    margin: 0;
    padding: 0;
}

.portfolio figure {
    position: relative;
    width: 35vh;
    height: 15vh;
}

.portfolio img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.portfolio figcaption {
    width: 98%;
    height: 98%;
    background-color: rgba(255,166,0,.8);
    color: white;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 2vh;
    padding: 1%;
    transition: .4s;
}

.portfolio a {
    color: white;
    text-decoration: none;
}

.portfolio figure:hover figcaption {
    display: flex;
}

iframe {
    border: 0;
    width:400px; 
    height:300px;
}