@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
$font: 'Open Sans', sans-serif;
$hGray : #4C4C4C;
$faq : #F4C6AB;
$orange1 : #e66819;
$orange2 : #e66819a8;
$aBlue : #108AC1;
$portfolioGray : #3D3F3F;
$servicesH3 : #444444;
$aside: #F5F5F5;
$input: rgb(188, 187, 187);
